{% extends 'auth/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->

{% endblock extra_css %}
{% block contents %}

<p class="login-box-msg text-dark">Login hodi asesu ita nia Sistema</p>

<form method="post">
  {% csrf_token %}

  {% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
  {% endif %}
  <div class="input-group mb-3">
    <input type="text" name="username" class="form-control" placeholder="Username" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <!-- <input type="password" class="form-control" placeholder="Password"> -->
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- /.col -->
    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </div>
    <!-- /.col -->
  </div>
</form>

{% endblock contents %}