{% extends 'main/base.html' %}
{% load static %}
{% load user_tags %}


{% block head_link %}{% endblock head_link %}


{% block breadcrumb_item %}
<li class="breadcrumb-item active">Blank Page</li>
{% endblock breadcrumb_item %}

{% block contents %}

{% user_group request.user as role %}
{% if role == 'admin' %}
    {% include 'home/homeAdmin.html' %}
{% elif role == 'director' %}
    {% include 'home/homeDirector.html' %}
{% elif role == 'professor' %}
    {% include 'home/homeProfessor.html' %}
{% elif role == 'estudante' %}
    {% include 'home/homeEstudante.html' %}
{% elif role == 'secretaria' %}
    {% include 'home/homeSecretaria.html' %}
{% endif %}
<!-- /.card -->
{% endblock contents %}


{% block scripts %}{% endblock scripts %}