{% extends 'main/base.html' %}
{% load static %}

{% block title %}Detalle Horariu Exame{% endblock %}

{% block contents %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalle Horariu Exame</h3>
                    <div class="card-tools">
                        <a href="{% url 'horariuexame_update' horariuexame.pk %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Hadia
                        </a>
                        <a href="{% url 'horariuexame_delete' horariuexame.pk %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Hamos
                        </a>
                        <a href="{% url 'horariuexame_list' %}" class="btn btn-secondary btn-sm">
                            <i class="fas fa-arrow-left"></i> Fila
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th width="30%">Loron</th>
                                <td>{{ horariuexame.loron|date:"d/m/Y" }}</td>
                            </tr>
                            <tr>
                                <th>Oras</th>
                                <td>{{ horariuexame.horas|date:"H:i" }}</td>
                            </tr>
                            <tr>
                                <th>Departamentu</th>
                                <td>{{ horariuexame.departamentu.nome }}</td>
                            </tr>
                            <tr>
                                <th>Materia</th>
                                <td>{{ horariuexame.materia.nome }}</td>
                            </tr>
                            <tr>
                                <th>Tinan Akademiku</th>
                                <td>{{ horariuexame.ano_academico.ano }}</td>
                            </tr>
                            <tr>
                                <th>Observasaun</th>
                                <td>{{ horariuexame.observacoes|default:"-" }}</td>
                            </tr>
                            <tr>
                                <th>Kria Iha</th>
                                <td>{{ horariuexame.created_at|date:"d/m/Y H:i" }}</td>
                            </tr>
                            <tr>
                                <th>Atualiza Iha</th>
                                <td>{{ horariuexame.updated_at|date:"d/m/Y H:i" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}