{% extends 'main/base.html' %}

{% block contents %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ title }}</h3>
        <div class="card-tools">
            <a href="{% url 'loron_update' object.pk %}" class="btn btn-warning btn-sm">
                <i class="fas fa-edit"></i> Hadia
            </a>
            <a href="{% url 'loron_delete' object.pk %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i> Hamos
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th width="200">Loron</th>
                <td>{{ object.loron }}</td>
            </tr>
            <tr>
                <th>Ordem</th>
                <td>{{ object.ordem }}</td>
            </tr>
        </table>
        <div class="mt-3">
            <a href="{% url 'loron_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Fila
            </a>
        </div>
    </div>
</div>
{% endblock %}